@model MVCPresentation.Web.Models.Product

<div>
@Html.LabelFor(p => p.Id)
@Html.EditorFor(p => p.Id)
</div>

<div>
    @Html.LabelFor(p => p.Name)
    @Html.EditorFor(p => p.Name)  
</div>

<div>
    @Html.LabelFor(p => p.ProductType)
    @Html.EditorFor(p => p.ProductType)
</div>